name: Upload Website

on:
  push:
    branches:
    - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    #- uses: jakejarvis/s3-sync-action@master
    - name: copy to s3
      run: |
       apt update
       apt install python3.8  
       pip install awscli
       python --version
       aws --version
